body{
    background-color: #3d2022;
    font-family:Arial, Helvetica, sans-serif;
}
.signup_container{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}
h1{
    text-align: center;
    padding-top: 15;

}
h4{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 130px;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;

}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    background-color: #49c1a2;
    color: white;
    font-size: 18px
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.pra{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
}
.pra a{
    color: #49c1a2
}
.login_container{
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
}
.nav_container{
    margin: 0px;
    padding: 0px;
}











